https://www.springboard.com/blog/data-mining-python-tutorial/

http://www.developintelligence.com/blog/2017/08/data-cleaning-pandas-python/

## Imports

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats
import seaborn as sns
from matplotlib import rcParams

from collections import Counter
from datetime import datetime

%matplotlib inline

## Load dataset

In [ ]:
df = pd.read_csv('ODI-2018.csv',skiprows=[1])
orig = df.copy()
df.head(10)

Check for null values

In [ ]:
df.isnull().any()

Check for value types

In [ ]:
df.dtypes

In [ ]:
df.describe()

Cleaning first column

In [ ]:
#https://stackoverflow.com/questions/20250771/remap-values-in-pandas-column-with-a-dict
data = df[df.columns[1]].str.lower()
data = data.str.strip()
data = data.str.replace('&','and')
df[df.columns[1]] = data.replace(
    {'21-05-1995':np.NaN,
    'a. i.':'Artificial Intelligence',
    'ai':'Artificial Intelligence',
    'ai (cognitive sciences)':'Artificial Intelligence',
    'ai (vu version)':'Artificial Intelligence',
    'ai vu':'Artificial Intelligence',
    'ai premaster':'Artificial Intelligence',
    'artificial intelligence (socially aware computing)':'Artificial Intelligence',
    'artificial intelligence':'Artificial Intelligence',
    'ba':'Business Analytics',
    'b science, business and innovation':'Science, Business & Innovation',
    'big data engineering':'Computer Science',
    'bioinformatcis':'Bioinformatics & Systems Biology',
    'bioinformatics and system biology':'Bioinformatics & Systems Biology',
    'bioinformatics':'Bioinformatics & Systems Biology',
    'bioinformatics and systems biology':'Bioinformatics & Systems Biology',
    'bioinformatics and sysbio':'Bioinformatics & Systems Biology',
    'bioinformatics master':'Bioinformatics & Systems Biology',
    'business analytics msc':'Business Analytics',
    'business analytics/ operations research':'Business Analytics',
    'business analytics':'Business Analytics',
    'cls':'Computational Science',
    'cs':'Computer Science',
    'csl':'Computational Science',
    'comoputational science':'Computational Science',
    'computational science (jd)':'Computational Science',
    'computational science':'Computational Science',
    'computer science':'Computer Science',
    'computer science: big data engineering':'Computer Science',
    'data mining techniques':np.NaN,
    'drug discovery and safety':'Drug Discovery and Safety',
    'duisenberg honors program quantitative risk managament':'Quantitative Risk Management',
    'duisenberg quantitative risk management':'Quantitative Risk Management',
    'econometrics':'Econometrics',
    'econometrics and operations research':'Econometrics and Operations Research',
    'economics':'Economics',
    'eor':'Econometrics and Operations Research',
    'exchange':'Exchange student',
    'finance':'Finance',
    'finance dhp qrm':'Quantitative Risk Management',
    'm financial economtrics':'Econometrics',
    'ma bioinformatics':'Bioinformatics & Systems Biology',
    'master bionformatics and systems biology':'Bioinformatics & Systems Biology',
    'master business analytics':'Business Analytics',
    'master computer science: big data engineering':'Computer Science',
    'master econometrics and operations research':'Econometrics and Operations Research',
    'master human movement science':'Human Movement Sciences',
    'masters computer science(big data engineering)':'Computer Science',
    'mathematics':'Mathematics',
    'mathematics exchange':'Exchange student',
    'mpa':'Management, Policy-Analysis & Entrepreneurship in Health and Life Sciences',
    'ms':np.NaN,
    'msc ai and msc cls':'Artificial Intelligence',
    'msc artificial intelligence':'Artificial Intelligence',
    'msc bioinformatics':'Bioinformatics & Systems Biology',
    'msc bioinformatics and systems biology':'Bioinformatics & Systems Biology',
    'msc computational science':'Computational Science',
    'msc computational science (joint degree)':'Computational Science',
    'msc computer science':'Computer Science',
    'msc econometrics':'Econometrics',
    'msc. bioinformatics and systems biology':'Bioinformatics & Systems Biology',
    'or':np.NaN,
    'phd':'PhD',
    'phd student':'PhD',
    'phd student at fgb':'PhD',
    'physics':'Physics',
    'qrm':'Quantitative Risk Management',
    'quantitative risk management':'Quantitative Risk Management',
    'system biology and bioinformatics':'Bioinformatics & Systems Biology'
    })
Counter(df[df.columns[1]])

In [ ]:
print(df.columns[2])
Counter(df[df.columns[2]])

In [ ]:
print(df.columns[3])
Counter(df[df.columns[3]])

In [ ]:
print(df.columns[4])
Counter(df[df.columns[4]])

In [ ]:
print(df.columns[5])
Counter(df[df.columns[5]])

In [ ]:
print(df.columns[6])
Counter(df[df.columns[6]])

In [ ]:
print(df.columns[7])
Counter(df[df.columns[7]])

In [ ]:
def clean_date(data):
    monthtoyear = {'january':1,'february':2,'march':3,'april':4,'may':5,\
                   'june':6,'july':7,'august':8,'september':9,'october':10,\
                   'november':11,'december':12,'aug':8,'februari':2}
    data = data.str.replace("/","-")
    data = data.str.replace(".","-")
    data = data.str.replace(" ","-")
    data = data.str.replace("th","")
    
    cleaned = []
    
    for i in data.values:
        try:
            date = i.split("-")
        except:
            date = np.NaN
        
        try:
            first = int(date[0])
        except:
            try:
                first = monthtoyear[date[0].lower()]
            except:
                first = np.NaN
        try:
            second = int(date[1])
        except:
            try:
                second = monthtoyear[date[1].lower()]
            except:
                second = np.NaN
        try:
            third = int(date[2])
        except:
            third = np.NaN
        
        if second > 12 and first <= 12:
            #assume MM-DD
            cleaned.append("%02d-%02d"%(second,first))
        elif first <= 31 and second <= 12:
            #assume DD-MM
            cleaned.append("%02d-%02d"%(first,second))
        elif first > 1900 and second <= 12 and third <= 31:
            #assume YYYY-MM-DD
            cleaned.append("%02d-%02d"%(third,second))
        elif first > 1900 and second <= 31 and third <= 12:
            #assume YYYY-DD-MM
            cleaned.append("%02d-%02d"%(second,third))
        else:
            cleaned.append(np.NaN)
    cleaned = pd.Series(cleaned)
    return cleaned
        
print(df.columns[8])
df[df.columns[8]] = clean_date(df[df.columns[8]])    
Counter(df[df.columns[8]])

In [ ]:
print(df.columns[9])
data = df[df.columns[9]]
data = data.apply(pd.to_numeric,errors='coerce') #non-numeric -> NaN
df[df.columns[9]] = data
plt.hist(data.dropna().values)
Counter(df[df.columns[9]])

In [ ]:
print(df.columns[10])
Counter(df[df.columns[10]])

In [ ]:
print(df.columns[11])
Counter(df[df.columns[11]])

Cleaning random number column and plotting histogram of numbers 0-10

In [ ]:
#https://stackoverflow.com/a/34844867
#https://stackoverflow.com/a/41618665
#https://stackoverflow.com/a/40442778
data = df[df.columns[12]]
data = data.str.replace('ACHT','8')
data = data.apply(pd.to_numeric,errors='coerce') #non-numeric -> NaN
data = data.mask(data.lt(0) | data.gt(10))
df[df.columns[12]] = data
plt.hist(data.dropna().values);
Counter(df[df.columns[12]])

In [ ]:
print(df.columns[13])
data = df[df.columns[13]]
#https://stackoverflow.com/a/15321222
data = data.str.decode('unicode_escape').str.encode('ascii','ignore')
Counter(df[df.columns[13]])

## Cleaned data

In [ ]:
df.head(25)